<!DOCTYPE html>
<html>
  <head>
    <title>Link Input Form</title>

    <link rel="stylesheet" href="static/css/style.css" />
  </head>
  <body>
    <div class="navbar">
      <a class="home-link" href="{% url 'input_form' %}">HOME</a>
      <a class="about-link" href="{% url 'index' %}#about">ABOUT</a>
      <a class="contact-link" href="{% url 'index' %}#contact">CONTACT</a>       
    </div>

    <div class="header-a">
      <p class="project-name-a">PERSPECTIFY</p>
    </div>

    <form method="post">
      <div class="input-button">
        <input
          class="input-box"
          name="input-box"
          type="text"
          placeholder="INPUT SOURCE URL TO BE ANALYZED"
          required=""
        />
        <button type="submit" class="input-button">
          <img
            src="static/assets/input-button.png"
            alt="input button"
            width="65%"
            height="65%"
          />
        </button>
      </sinput>
        <!-- {% csrf_token %} {{ form.as_p }} -->
      </div>
    </form>

    <div class="footer-a">
      <a href="https://mysurestart.com/" target="blank_">
        <img
          class="footer-item-a"
          src="static/assets/SureStartFutureMakersMIT.png"
          alt="SureStart logo"
      /></a>
    </div>
  </body>
</html>