{% comment %} <!DOCTYPE html>
<html>
<head>
    <title>Link Input Form</title>
</head>
<body>
    <h1>INPUT SOURCE TO BE ANALYZED</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
</body>
</html> {% endcomment %}
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Link Input Form</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body style="background-image: url('{% static 'assets/background.png' %}'); background-repeat: repeat-y; background-size: cover; font-family: 'Fira Sans Condensed', sans-serif;">
    <div class="header-a">
      <div class="navbar">
        <a class="home-link" href="{% url 'input_form' %}">HOME</a>
        <a class="about-link" href="{% url 'index' %}#about">ABOUT</a>
        <a class="contact-link" href="{% url 'index' %}#contact">CONTACT</a>       
      </div>
      <a class="project-name-a" href="{% url 'input_form' %}"> PERSPECTIFY </a>
    </div>

    <form method="post">
      {% csrf_token %}
      
      <!-- Custom-styled input -->
      <input
          class="input-box"
          name="url"
          type="url"
          placeholder="INPUT SOURCE URL TO BE ANALYZED"
          required=""
      />
      
      <!-- Django form field -->
      {{ form.url_field.label_tag }}
      {{ form.url_field }}
      
      <!-- Submit button
      <button type="submit" class="input-button">
        <img
          src="{% static 'assets/input-button.png' %}"
          alt="input button"
          width="65%"
          height="65%"
        />
      </button> -->
    </form>

    <div class="footer-a">
      <a href="https://mysurestart.com/" target="blank_">
        <img
          class="footer-item-a"
          src="{% static 'assets/SureStartFutureMakersMIT.png' %}"
          alt="SureStart logo"
      /></a>
    </div>
  </body>
</html>